<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.beirario.pontuacaocampeonatos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ViewChampionship"
            android:label="@string/title_activity_championship"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewSteps"
            android:label="@string/title_activity_step"
            android:parentActivityName=".ViewChampionship"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.beirario.pontuacaocampeonatos.ViewChampionship" />
        </activity>
        <activity
            android:name=".ViewPilots"
            android:label="@string/title_activity_pilot"
            android:parentActivityName=".ViewSteps"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.beirario.pontuacaocampeonatos.ViewSteps" />
        </activity>
        <activity
            android:name=".ViewDiscards"
            android:label="@string/title_activity_discards"
            android:parentActivityName=".ViewPilots"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.beirario.pontuacaocampeonatos.ViewPilots" />
        </activity>
        <activity
            android:name=".ViewRaces"
            android:label="@string/title_activity_races"
            android:parentActivityName=".ViewSteps"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.beirario.pontuacaocampeonatos.ViewSteps" />
        </activity>
        <activity
            android:name=".ViewClassification"
            android:label="@string/title_activity_classification"
            android:parentActivityName=".ViewSteps"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.beirario.pontuacaocampeonatos.ViewSteps" />
        </activity>
        <activity
            android:name=".ViewRaceClassification"
            android:label="@string/title_activity_races_classification"
            android:parentActivityName=".ViewRaces"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.beirario.pontuacaocampeonatos.ViewRaces" />
        </activity>
    </application>

</manifest>